{% extends "transactional_email_web/base.html" %}
{% load static i18n %}
{% block page-title %}Email Logs{% endblock %}
{% block title %}Email Logs{% endblock %}

{% block content %}
  <table class="table table-striped mt-3 table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 180px">When</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Subject</th>
        <th scope="col">Service</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
        <tr>
          <td>{{ log.when }}</td>
          <td>{{ log.from_email }}</td>
          <td>{{ log.to_email }}</td>
          <td>{{ log.subject|default_if_none:''|truncatechars:50 }}</td>
          <td>{{ log.service_short }}<br>
            <small>{{ log.message_id|default_if_none:''|truncatechars:30 }}</small>
          </td>
          <td>
            <a role="button" class="btn btn-info btn-sm" href="{% url 'transactional_email.log' log.pk %}" target="_blank">View</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}
